@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;

html{
  font-family: 'Rubik', sans-serif;
  @apply bg-gray-700;
}

.name{
  font-family: 'Bebas Neue', cursive;
}

.icon:hover{
    @apply transition ease-in-out delay-100 -translate-y-1 scale-110 brightness-125 duration-300
}

/* Hide scrollbar for Chrome, Safari and Opera */
.ListaProjetos::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.ListaProjetos {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

span{
  @apply xl:text-[4.0rem] lg:text-[2.9rem] sm:text-[4.4rem] text-[2.0rem] my-auto
}

.label{
  @apply flex text-white md:text-3xl text-xl
}

.input{
  @apply flex w-full my-4 py-3 px-2 rounded-md shadow-2xl bg-gray-600 opacity-80 text-white
}

.inputM{
  @apply flex w-full h-[75%] max-h-[75%] min-h-[200px] my-4 py-3 px-2 rounded-md shadow-2xl bg-gray-600 opacity-80 text-white resize-none
}

.button{
  @apply flex bg-purple-700 text-white font-bold transition delay-100 duration-150 hover:bg-purple-400 hover:text-black text-[0.8rem] sm:text-[1.2rem] text-center p-2 px-6 float-right cursor-pointer rounded-full shadow-2xl
}
@tailwind components;
@tailwind utilities;
